@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home-image {
  background-image: url('/portada.png');
  background-size: cover;
  background-position: center;
  height: 760px; 
  position: relative;
}

.bg-effect-overlay {
  background-image: url('/efecto_portada.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0.3; /* Ajusta la transparencia */
}

.section-padding-r-l {
  @apply px-3;
}

.text-aligned {
  @apply text-3xl md:text-5xl lg:text-6xl;
}

.image-logo {
  @apply h-12 w-12; /* 48px */
}

.text-18 {
  @apply text-lg; /* 18px */
  font-family: "Catamaran", sans-serif;
}

.text-16 {
  @apply text-base; /* 16px */
  font-family: "Catamaran", sans-serif;
}

.text-20 {
  @apply text-xl; /* 20px */
  font-family: "Catamaran", sans-serif;
}

.text-14 {
  @apply text-[14px]; /* 20px */
  font-family: "Catamaran", sans-serif;
}

.text-96 {
  @apply text-8xl; /* 96px */
  font-family: "Catamaran", sans-serif;
}

.text-36 {
  @apply text-4xl; /* 36px */
  font-family: "Catamaran", sans-serif;
}


.text-45 {
  @apply text-[45px];
  font-family: "Catamaran", sans-serif;
}


.nav-link {
  position: relative;
  display: inline-block;
  padding: 1rem;
}

.section-size {
  @apply min-h-screen flex flex-col relative;
}

.font-catamaran {
  font-family: 'Catamaran', sans-serif;
}

.font-semibold {
  font-weight: 600;
}

/* NOSOTROS*/

.p-700{
  @apply font-bold;
  font-family: "Catamaran", sans-serif;
}


.underline-title::before {
  content: '';
  display: block;
  width: 35px; /* Ajusta el ancho según sea necesario */
  height: 1.5px; /* Ajusta el grosor de la línea según sea necesario */
  background-color: #5F2DEE; /* Color de la línea */
  position: relative;
  bottom: -10px; /* Ajusta la distancia debajo del texto */
}
.custom-line-height {
  line-height: 26.24px;
}

.custom-line-height1 {
  line-height: 55px;
}

.custom-line-height30 {
  line-height: 30px;
}